name: ci

on:
  push:
  pull_request:

jobs:
  build-test:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        build_type: [Debug]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }} -j

      - name: Test
        run: ctest --test-dir build --output-on-failure -C ${{ matrix.build_type }}
