name: ci

on:
  push:
  pull_request:

jobs:
  build-test:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        build_type: [Debug]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Install raylib/GLFW deps (Linux)
        if: runner.os == 'Linux'
        run: |
            sudo apt-get update
            sudo apt-get install -y \
            libx11-dev \
            libxrandr-dev \
            libxinerama-dev \
            libxcursor-dev \
            libxi-dev \
            libxxf86vm-dev \
            libgl1-mesa-dev \
            xorg-dev
            

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }} -j

      - name: Test
        run: ctest --test-dir build --output-on-failure -C ${{ matrix.build_type }}
